footer {
    background-image:linear-gradient(#24eda7,#2dd0e2) ;
    text-align: center;
    padding: 15px;
    font-size: 16px;
    line-height: 28px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;

}
.container > .row > p > span {
    color: #fff;
}
.contact {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.image-frame {
    box-sizing: border-box;
    
}
    .image-frame > img {
        width: 100%;
    }
.contactHeading {
    color: #00C07C;
    font-size: 28px;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}
.secondHeading {
    color: black;
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
    margin-bottom: 30px;
}
form {
    width: 100%;
}
.input-place  {
    width: 100%;
    font-size: 16px;
    line-height: 44px;
    border-radius: 6px;
    margin-bottom: 15px;
    border: none;
    color: #495057;
    border: solid 0.5px #ccc;
}

.input-place.tarea {
    overflow: auto;
    resize: vertical;
    height:140px ;
}
.btn{
    width: 30%;
    border-radius: 25px;
    padding: 10px 20px;
    background-color:#00C07C;
    color: #fff;
    border-color: #00C07C; 
    font-size: 26px;
}
.btn:hover{
    background-color: #fff;
    color:  #00C07C;
}

h4.info-block {
    color: #00C07C;
    font-size: 20px;
    letter-spacing: 1px;
}