body {
    font-size: 16px;
    line-height: 28px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    color: #6c757d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0px;
}

h1 {
    font-size: 42px;
    line-height: 56px;
    font-weight: 800;
}

h2 {
    font-size: 32px;
    line-height: 44px;
    font-weight: 800;
    color: #151515;
}

h3 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 800;
}

h4 {
    font-size: 21px;
    line-height: 32px;
    font-weight: 800;
}

h5 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
}

h6 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}