.row.testimonials {
    margin-right: 0;
    height: 600px;
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: space-evenly;
}


.testimonials>.textLeft {
    justify-content: right;
}

#testimonialText {
    margin-top: 60px;
    letter-spacing: 1px;
}

#testimonialText>h4 {
    color: #00c07c;
}

#testimonialText>h2 {
    margin: 0 0 30px;
}

.carouselFeedback {
    position: relative;
}

.clientInfo {
    width: 70%;
    margin-top: 30px;
}

.clientInfo>img {
    float: left;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: 5px solid #f0f0f0;
}

.clientInfo>.clientCredentials {
    text-align: left;
    margin: 24px 0 24px 30px;
    padding-top: 25px;
    padding-left: 100px;
}

.clientInfo>.clientCredentials>h4 {
    color: black;
}

.clientInfo>.clientCredentials>i {
    color: #00C07C;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1px;
}


.slideBtn {
    margin-right: 20px;
    display: inline-block;
    position: absolute;
    right: 0;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #22eea7 0%, #2ccfe2 100%);
    cursor: pointer;
}

.slideBtn:nth-child(1) {
    margin-right: 70px;
}

.slideBtn>i {
    margin-top: 10px;
}

/*-------VIDEO POPUP----------*/

.testimonials>.videoRight {
    background-image: url(../img/testimonial.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    position: relative;
}




@-webkit-keyframes btnAnimation {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
    
    5% {
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

.videoRight>a>.slideBtn {
    position: absolute;
    top: 43%;
    left: 43%;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    margin: 0;
}

.videoRight>a>.slideBtn>i{
    position: absolute;
    top: 25%;
    left: 40%;
    color: #ffffff;
    font-size: 25px;
}

@keyframes btnAnimation {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }

    80% {
        opacity: 0.2;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}


.videoLoader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 11;
}

.btnAnimation {
    position: relative;
}

.btnAnimation>div {
    background-image: linear-gradient(to right, #22eea7 0%, #2ccfe2 100%);
    border-radius: 100%;
    margin: 2px;
    animation-fill-mode: both;
    position: absolute;
    opacity: 0;
    margin: 0;
    left: -80px;
    top: -70px;
    width: 140px;
    height: 140px;
    animation: btnAnimation 3s 0s linear infinite;
}

.btnAnimation>div:nth-child(2) {
    animation-delay: -0.4s;
}

.btnAnimation>div:nth-child(3) {
    animation-delay: -0.2s;
}

.owl-carousel>.owl-item>img{
    width: 1;
}